h1 {
  text-align: center;
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background: whitesmoke;
}

label {
  width: 100%;
}

.container {
    width: 500px;
    border: 5px;
    left: 50%;
    right: 50%;
}
