h1 {
  text-align: center;
    font: white;
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background: whitesmoke;
}

.fancyform {
    width: 500px;
    border: 5px;
    left: 50%;
    right: 50%;
}

form{
    
    border: 50px;
    background-color: blue;
    padding: 15px;
    text-align: center;
    align: center;

}

input[type=text], input[type=password]{
    padding: 5px;
    font-size: 15px;
    font: red;
}

input[type=submit]{
    border: 1px solid red;
    background: white;
}

fancy {
    font: red;
}
